@import "~bootstrap/dist/css/bootstrap.min.css";

.app-container {
    background-image: url('./Images/loginpaper.jpg');/* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 3px solid green;
  }

html,
body {
  margin: 0;
  padding: 0;
}
/* 
  Sets the margin-bottom for elements to be 275px.
*/
.mb-300 {
  margin-bottom: 300px;
}

/* Media query for larger screens
   Adjusts the margin-bottom to 275px for elements with the class of .mb-275-lg 
   when viewed on larger screens (768px and up).
*/
@media (min-width: 768px) {
  .mb-275-lg {
    margin-bottom: 275px;
  }
}

/* 
  Styling for the Nav items inside the Login Component.
  Adds left and right margins to separate the nav items.
*/

.custom-nav .nav-item {
  margin-right: 40px;
  margin-left: 40px;
  border: 2px solid white;
  border-radius: 20%;
}
/* 
  Removes the left margin for the first nav item in the custom-nav, ensuring it's flush 
  with the left edge or adjacent elements.
*/
.custom-nav .nav-item:first-child {
  margin-left: 0;
}
/* 
  Removes the right margin for the last nav item in the custom-nav, ensuring it's flush 
  with the right edge or adjacent elements.
*/
.custom-nav .nav-item:last-child {
  margin-right: 0;
}

/* 
  Removes the default border at the bottom of the .nav-tabs with a custom-nav class.
*/

.nav-tabs.custom-nav {
  border-bottom: none;
}

/* 
  Removes the border at the bottom of the active tab for .nav-tabs with a custom-nav class.
  This ensures that the active tab does not have any borders, making it visually 
  distinct without the need for the default underline.
*/

.nav-tabs.custom-nav .nav-link.active {
  border-color: transparent;
}

/* Default styling for nav links */
.custom-nav .nav-link {
  background-color: transparent; /* Default background color, assuming it's transparent */
  color: white; /* Default text color */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

/* Styling for active tab or tab on hover */
.custom-nav .nav-link.active, 
.custom-nav .nav-link:hover {
  background-color: white;
  color: purple;
  border-radius: 16%;
}

/* Optional: Add padding for better visual appearance */
.custom-nav .nav-link {
  padding: 10px 15px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.shimmer-effect {
  display: inline-block;
  color: transparent; /* hide the original text color */
  background: linear-gradient(110deg,white 25%, rgb(177, 49, 177) 40%, rgb(218, 116, 218) 60%, white 75%);
  background-size: 200% 100%;
  animation: shimmer 5s infinite;
  -webkit-background-clip: text;
  background-clip: text;
}

.linky-button {
  border: none;
  background-color: white;
  padding: 10px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  box-shadow: 0px 2px 5px 0px rgb(0 52 102 / 11%);
  transition: all .2s ease-in-out; 
}

.center-text{
  text-align: center;
}

.row-margin{
  margin: 10px;
}

.red-outline {
  border: 1px solid red;
}

#Welcome_Text {
    color: aliceblue;
}

.semi-bold {
  font-weight: 500;
}

/* CheckBox */
.custom-checkbox {
  border-color: #7439db;
}


@media only screen and (max-width: 768px) {
  .login-spinner {
    position: absolute;
    bottom: 150px;
    left: 166px;
    width: 50px; /* Or whatever dimensions you want */
    height: 50px; /* Or whatever dimensions you want */
  }
} 

.form-styling{
  margin: 10px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust this value if needed */
  margin: 20px 0; /* Adds some vertical spacing before and after the spinner */
}

.app-container .custom-spinner {
  width: 3rem;
  height: 3rem;
  border-width: 0.25rem;
  border-color: white;
}


.pagination-button {
  margin: 5px;
  background-color: #007BFF; /* Blue */
  border: none;
  color: white;
  cursor: pointer;
}

.login-button:hover{
  transform: scale(1.1);
  transition-duration: 1s;
 } 

.log-entry {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Increase spacing between each log entry */
  padding: 10px 0; /* Adds some vertical padding to each log entry for better visual separation */
  border-bottom: 1px solid #e0e0e0; /* Optional: adds a light line between entries for clearer separation */
}

.view-toggle {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-right: 15px;
  margin-left: 10px; /* Adds spacing to the right of the button, separating it from the timestamp */
}

.view-toggle:hover {
  text-decoration: underline;
}

.log-date {
  white-space: nowrap; /* Ensures the date doesn't break into multiple lines */
}

.logs-container {
  max-width: 1440px; /* Adjust this value as needed */
  width: 100%; /* Ensures it takes the full width up to 600px */
  margin: 0 auto; /* Centers the container if it's less than the viewport width */
}

#Page_Text{
  color: white;
}


.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rocket-spinner-container {
  margin-right: 20px; /* Adjust as needed */
}

.loading-message-container {
  margin-left: 20px; /* Adjust as needed */
}

#Loading_Text{
  color: aliceblue;
}

.container-center {
  position: relative;
}




