.shiela-container {
    background-image: url('../Images/Sheila.jpg');/* Adjust this path as needed */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .chat-window {
    max-width: 675px;
    margin: 3px auto;
    padding: 20px;
    padding-bottom: 30px;
    overflow-y: auto; /* In case the chat becomes lengthy */
    max-height: 300px;
    opacity: .9; 
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}

.message.assistant {
    background-color: darkgrey; /* Gray */
    text-align: left;
    font-weight: 400;
}

.message.user {
    background-color: blue; /* Light Blue */
    text-align: right;
    font-weight: 400;
}

.message-name {
    font-weight: bold;
}

.input-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}